<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-left">
                    <div class="footer-logo">
                      
                        <img src="{section.settings.img | image_url: ''}" alt="">
                    </div>
                    <h6 class="footer-color"><span>{{ section.settings.text1 }}</span></h6>
                    <h6>{{ section.settings.text2 }}</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-sub-menu">
                    <ul>
                        {% assign footer_menu_1 = section.settings.sub %}
                        {% for link in linklists[footer_menu_1].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-sub-menu">
                    <ul>
                        {% assign footer_menu_2 = section.settings.sub2 %}
                        {% for link in linklists[footer_menu_2].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-sub-menu">
                    <ul>
                        {% assign footer_menu_3 = section.settings.sub3 %}
                        {% for link in linklists[footer_menu_3].links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copy-right">
                    <p>{{ section.settings.location }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>


{% schema %}
    {
        "name": "Footer Area",
        "class": "footer",
        "settings": [
        {
            "type": "image_picker",
            "id": "img",
            "label": "Select you footer logo"
        },
        {
            "type": "text",
            "id": "text1",
            "label": "Brand Moto",
            "default": "SIGN UP FOR EXCLUSIVE GIVEAWAYS, PROMOTIONS, AND GLOW TIPS.",
        
            "placeholder": "SIGN UP FOR EXCLUSIVE GIVEAWAYS, PROMOTIONS, AND GLOW TIPS."
        },
        {
            "type": "text",
            "id": "text2",
            "label": "SAVE 10% OFF YOUR FIRST ORDER",
            "default": "SAVE 10% OFF YOUR FIRST ORDER",
          
            "placeholder": "SAVE 10% OFF YOUR FIRST ORDER"
        },{
            "type": "text",
            "id": "location",
            "label": "Select your Location",
            "default": "Hey Bud Skincare ABN 38 636 022 850",
          
            "placeholder": "Hey Bud Skincare ABN 38 636 022 850"
        },
        {
            "type": "link_list",
            "id": "sub",
            "label": "Please select you footer Menu" 
        },
        {
            "type": "link_list",
            "id": "sub1",
            "label": "Please select you footer Menu 2" 
        },
        {
            "type": "link_list",
            "id": "sub2",
            "label": "Please select you footer Menu 3" 
        }
        ]
      
                   
                
        
    }
{% endschema %}
