<div class="bennifites-wrapper overflow-hidden">
    <div class="container-fuild">
        <div class="row ">
            <div class="col-md-7">
                <div class="bennifites-imag">
                    <img src="{{section.settings.img | image_url: '' }}" class="lazy" alt="">
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center ">
                <div class="bennifites-content ">
                        <h2>
                           {{section.settings.title}}
                        </h2>
                        <p>{{ section.settings.p }} </p>
                        <div class="bannar-offer">
                            <ul>
                                {% for b in sections.blocks %}
                                    {% if block.type == 'list_right' %}
                                        <li><span><i class="fas fa-check"></i></span>{{ b.settings.l_text }}</li>
                                     {% elsif block.type == 'list_left' %}
                                     <li>{{ b.settings.l_text01 }}</li>
                                    {%  endif %}
                                {% endfor %}
                            </ul>
                        </div>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center ">
                <div class="bennifites-content ">
                        <span>{{ section.settings.top }}</span>
                        <h2>
                           {{ section.settings.title1}}
                        </h2>
                        <p>{{  section.settings.p1 }}</p>
                        <div class="bannar-offer">
                            <ul>
                                {% for b in sections.blocks %}
                                    {% if block.type == 'list_right' %}
                                        <li><span><i class="fas fa-check"></i></span>{{ b.settings.l_text }}</li>
                                     {% elsif block.type == 'list_left' %}
                                     <li>{{ b.settings.l_text01 }}</li>
                                    {%  endif %}
                                {% endfor %}
                              
                                
                             
                            </ul>
                        </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="bennifites-imag">
                    <img src="{{ section.settings.img01 | image_url: ''}}" class="lazy" alt="">
                </div>
            </div>
         
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "BeneFits",
        "class": "benfit",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Select Your Left image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Put you section Title",
                "default": " WHY HEMP?",
                "placeholder": " WHY HEMP?"
            },
            {
                "type": "text",
                "id": "p",
                "label": "Select you summery ",
                "default": "Hey Bud harnesses the power of hemp seed oil, full of omega-6 and omega-3 fatty acids in perfect ratio, like no other skincare ingredient that helps <b>clear acne, blackheads and blemishes.</b>  ",
              
                "placeholder": "Summery"
            },
            {
                "type": "image_picker",
                "id": "img01",
                "label": "Select Yor Right Image"
            },
            {
                "type": "text",
                "id": "top",
                "label": "Select Top Text",
                "default": "YOUR SKIN'S NEW LOVE",
            
                "placeholder": "YOUR SKIN'S NEW LOVE"
            },
            {
                "type": "text",
                "id": "title1",
                "label": "Put you section Title",
                "default": " WHY HEMP?",
                
                "placeholder": " WHY HEMP?"
            },
            {
                "type": "text",
                "id": "p1",
                "label": "Select you summery ",
                "default": "Hey Bud harnesses the power of hemp seed oil, full of omega-6 and omega-3 fatty acids in perfect ratio, like no other skincare ingredient that helps <b>clear acne, blackheads and blemishes.</b>  ",
              
                "placeholder": "Summery"
            }
        ],
            "blocks": [
                {
                    "type": "list_right",
                    "name": "list_picker",
                    "settings": [
                        {
                            "type": "text",
                            "id": "l_text",
                            "label": "Name your Text",
                            "default": "Australian Owned",
                            "placeholder": "Australian Owned"
                        }

                    ]
                },
                {
                    "type": "list_left",
                    "name": "list_picker2",
                    "settings": [
                        {
                            "type": "text",
                            "id": "l_text01",
                            "label": "Name your Text",
                            "default": "Australian Owned",
                            "placeholder": "Australian Owned"
                        }

                    ]
                }
            ]
            

        
    }
{% endschema %}
