<section class="lastest-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lastest-from res">
          <h3>Lastest From Blogs</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="slider-active-two indicator-style2">
        
        {% assign blogs = blogs[section.settings.home_blog] %}
        
        {% for article in blogs.articles %}
        <div class="col-md-4">
          <div class="tb-post-item">
            <a href="{{ article.url }}">
              <div class="tb-thumb">
                <img src="{{ article | img_url: 'large' }}" alt="">
                <span class="tb-publish font-noraure-3">{{ article.published_at | date: '%b' }} / {{ article.published_at | date: '%d' }}</span>
              </div>
            </a>
            <div class="tb-content7">
              <a href="{{ article.url }}"><h4 class="tb-titlel">{{ article.title }}</h4></a>
              {% if article.excerpt.size > 0 %}
              <div class="tb-excerpt"> {{ article.excerpt }} </div>
              {% else %}
              <div class="tb-excerpt"> {{ article.content | truncatewords: 4 }} </div>
              {% endif %}
              
              
              <span>{{ article.author }}</span>
              
              {% if article.comments_enabled? %}
              <a href="{{ article.url }}#comments">{{ article.comments.size | pluralize: 'comment', 'comments' }} {{ article.comments.size }}</a>
              {% endif %}
              
            </div>
          </div>
        </div>
        {% endfor %}
        
        
      </div>
    </div>
  </div>
</section>









{% schema %}
  {
    "name": "Home Blogs",
    "settings": [
			{
				"type": "blog",
				"id": "home_blog",
				"label": "select your blog"
			}	
		],
		"presets": [
			{
				"name": "blog",
				"category": "news"
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
